/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

/* Layout */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
}

main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    padding: 20px;
    font-size: 10px;
}

/* Utility */
.template {
    display: none;
}

/* Header */
.top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: lightseagreen;
    padding: 20px;
    height: 160px;
    color: white;
}

/* Main */
.todo {
    list-style: none; 
}

.todo li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
}

.todo li:last-child {
    border-bottom: none;
}

.todo li:first-child {
    border-bottom: none;
}

.todo li i {
    color: #444;
    cursor: pointer;
    transition: color .3s;
}

.todo li i:hover {
    color: lightcoral;
}

.todo .new-input {
  width: 100%;
  height: 40px;
  line-height: 20px;
  margin-bottom: 30px;
  padding: 0 15px;
  font-size: 15px;
  background: rgba(0,0,0, .15);
  border: none;
  transition: background .4s;
}

.todo .new-input:hover,
.todo .new-input:focus {
    background: rgba(0,0,0, .075);
}